var limitPrice = function (price, num=2) {
  if (price==null) {
    return 
  }
  if(price==0) {
    var new_price = '0.00'
    return new_price
  }
  return price.toFixed(num)
}
var newLimitPrice = function (price) {
  if (price == null) {
    return
  }
  if (price == 0) {
    var new_price = '0.00'
    return new_price
  }
  return price
}

var imgUrl = function (path, flag=true) {
  if(!path) {
    return
  }
  // var url = 'https://api.olb8.com'
  // 本地图片url
  var url = "http://192.168.3.181:9081"
  var imgPath
  if(flag) {
    imgPath = url + path+'.th'
  } else {
    imgPath = url + path
  }
  return imgPath
}

var time = function (time) {
  // console.log(time)
  if(!time) {
    return
  }
  var data = time.split(':')
  var targetTime=data[0]+':'+data[1]
  // console.log(targetTime)
  return targetTime
}


module.exports = {
  limitPrice: limitPrice,
  newLimitPrice: newLimitPrice,
  imgUrl: imgUrl,
  time: time
}